.ms-combo-box-table-cell .list-cell {
	-fx-background-color: rgba(0, 135, 0, 0.5);
}

.ms-combo-box-table-cell .list-cell:selected {
	-fx-background-color: steelblue;
}

.titled-pane>.title {
	-fx-font-size: 18px;
	-fx-font-weight: BOLD;
}

.table-column {
	-fx-alignment: CENTER;
	-fx-font-weight: BOLD;
}

.lefted-column {
	-fx-alignment: LEFT;
}

.table-view .column-header {
	-fx-pref-height: 30px;
	-fx-font-weight: BOLD;
}

.table-cell {
	-fx-cell-size: 24px !important;
	-fx-padding: 0;
	-fx-font-weight: BOLD;
}

.tree-cell .text {
	-fx-cell-size: 24px !important;
	-fx-font-weight: BOLD;
}

.tree-cell {
	-fx-cell-size: 24px !important;
	-fx-font-weight: BOLD;
}

.table-row-cell {
	-fx-row-cell-size: 50px !important;
	-fx-padding: 0;
	-fx-font-weight: BOLD;
}

.table-row-cell .text {
	-fx-fill: black;
	-fx-font-weight: BOLD;
}

.table-row-cell:selected .text {
	-fx-fill: white;
	-fx-font-weight: BOLD;
}

.table-row-cell:selected {
	-fx-background-color: rgb(0, 128, 128) !important;
	-fx-font-weight: BOLD;
}

.list-cell {
	-fx-cell-size: 24px !important;
	-fx-font-weight: BOLD;
}

.jfx-radio-button {
	-fx-font-weight: BOLD;
}

.jfx-check-box {
	-fx-font-weight: BOLD;
}

.bigestCheckBox .box {
	-fx-pref-height: 130;
	-fx-pref-width: 130;
}

.bigestCheckBox .mark {
	-fx-max-width: 100;
	-fx-max-height: 100;
}

.bigCheckBox .box {
	-fx-pref-height: 40;
	-fx-pref-width: 40;
}

.bigCheckBox .mark {
	-fx-max-width: 30;
	-fx-max-height: 25;
}

.animatedUpdateProperty {
	-fx-border-color: cyan;
	-fx-border-style: dashed;
	-fx-border-width: 2px;
}

.jfx-combo-box {
	-fx-prompt-text-fill: rgba(0, 0, 0, 0.7);
	-fx-font-weight: BOLD;
}

.jfx-text-field {
	-fx-prompt-text-fill: rgba(0, 0, 0, 0.7);
	-fx-font-weight: BOLD;
}

.jfx-password-field {
	-fx-prompt-text-fill: rgba(0, 0, 0, 0.7);
	-fx-font-weight: BOLD;
}

.jfx-text-area {
	-fx-prompt-text-fill: rgba(0, 0, 0, 0.7);
	-fx-font-weight: BOLD;
}

.jfx-button {
	-fx-font-weight: BOLD;
}

.label {
	-fx-font-weight: BOLD;
}

.wellFormattedBlackText {
	-fx-text-fill: black;
	-fx-font-size: 20px;
	-fx-font-family: 'Arial Rounded MT Bold';
	-fx-text-wrap: true !important;
	-fx-text-alignment: center;
}

.wellFormattedMediumBlackText {
	-fx-text-fill: black;
	-fx-font-size: 16px;
	-fx-font-family: 'Arial Rounded MT Bold';
	-fx-text-wrap: true !important;
	-fx-text-alignment: center;
}

.wellFormattedLittleMediumBlackText {
	-fx-text-fill: black;
	-fx-font-size: 14px;
	-fx-font-family: 'Arial Rounded MT Bold';
	-fx-text-wrap: true !important;
	-fx-text-alignment: center;
}

.wellFormattedLittleBlackText {
	-fx-text-fill: black;
	-fx-font-size: 12px;
	-fx-font-family: 'Arial Rounded MT Bold';
	-fx-text-wrap: true !important;
	-fx-text-alignment: center;
}

.lightBlueButton {
	-fx-background-color: rgba(0, 0, 209, 0.2);
	-fx-background-radius: 5px;
}

.lightBlueButton .jfx-rippler {
	-jfx-rippler-fill: rgb(0, 0, 209);
}

.lightGreenButton {
	-fx-background-color: rgb(200, 255, 200);
	-fx-background-radius: 5px;
}

.lightGreenButton .jfx-rippler {
	-jfx-rippler-fill: #3ed75a;
}

.lightRedButton {
	-fx-background-color: rgba(249, 176, 180, 0.5);
	-fx-background-radius: 5px;
}

.lightRedButton .jfx-rippler {
	-jfx-rippler-fill: #e81e1e;
}

.lightBrownButton {
	-fx-background-color: rgba(209, 100, 0, 0.2);
	-fx-background-radius: 5px;
}

.lightBrownButton .jfx-rippler {
	-jfx-rippler-fill: rgb(209, 100, 0);
}

.lightMagentaButton {
	-fx-background-color: rgba(205, 50, 174, 0.2);
	-fx-background-radius: 5px;
}

.lightMagentaButton .jfx-rippler {
	-jfx-rippler-fill: rgb(205, 50, 174);
}

.lightYellowButton {
	-fx-background-color: rgba(255, 255, 0, 0.4);
	-fx-background-radius: 5px;
}

.lightYellowButton .jfx-rippler {
	-jfx-rippler-fill: rgb(255, 255, 0);
}

.lightOrangeButton {
	-fx-background-color: rgba(255, 128, 0, 0.2);
	-fx-background-radius: 5px;
}

.lightOrangeButton .jfx-rippler {
	-jfx-rippler-fill: rgb(255, 128, 0);
}

.lightCyanButton {
	-fx-background-color: rgba(0, 242, 242, 0.2);
	-fx-background-radius: 5px;
}

.lightCyanButton .jfx-rippler {
	-jfx-rippler-fill: rgb(0, 242, 242);
}

.updateButton {
	-fx-background-color: rgb(255, 200, 100, 0.5);
	-fx-background-radius: 5px;
	-fx-pref-height: 50px;
}

.updateButton .jfx-rippler {
	-jfx-rippler-fill: #ff8000;
}

.wellFormattedBlueText Label {
	-fx-text-fill: rgb(34, 76, 177);
	-fx-font-size: 20px;
	-fx-font-family: 'Arial Rounded MT Bold';
	-fx-text-wrap: true !important;
	-fx-text-alignment: center;
}

.wellFomattedGreenText Label {
	-fx-text-fill: rgb(34, 177, 76);
	-fx-font-size: 20px;
	-fx-font-family: 'Arial Rounded MT Bold';
	-fx-text-wrap: true !important;
	-fx-text-alignment: center;
}

.borderedText {
	-fx-border-color: rgb(50, 50, 50);
	-fx-border-width: 2px;
}

.collapsedText {
	-fx-max-width: 300px;
	-fx-max-height: 200px;
}

.bigCollapsedText {
	-fx-max-width: 250px;
	-fx-max-height: 250px;
}

.bigHeaderBlueText Text {
	-fx-fill: rgb(34, 76, 177);
	-fx-font-size: 30px;
	-fx-font-family: 'Arial Rounded MT Bold';
	-fx-text-alignment: center;
	-fx-stroke-width: 1px;
	-fx-stroke: #1e1e1e;
	-fx-stroke-type: centered;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 2, 0, 0, 1);
}

.bigHeaderGreenText Text {
	-fx-fill: rgb(34, 177, 76);
	-fx-font-size: 50px;
	-fx-font-family: 'Arial Rounded MT Bold';
	-fx-text-alignment: center;
	-fx-stroke-width: 1px;
	-fx-stroke: #1e1e1e;
	-fx-stroke-type: centered;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 2, 0, 0, 1);
}

.bigHeaderRedText Text {
	-fx-fill: rgb(255, 34, 0);
	-fx-font-size: 45px;
	-fx-font-family: 'Arial Rounded MT Bold';
	-fx-text-alignment: center;
	-fx-stroke-width: 1px;
	-fx-stroke: #1e1e1e;
	-fx-stroke-type: centered;
}

.greenTableRow {
	-fx-background-color: rgb(185, 255, 185);
}

.redTableRow {
	-fx-background-color: rgb(255, 185, 185);
}

.blueTableRow {
	-fx-background-color: rgb(185, 185, 255);
}

.whiteTableRow {
	-fx-background-color: #FFFAFF;
}

.blueGradientFond {
	-fx-background-color: linear-gradient(to bottom, rgba(188, 234, 154, 0.3)
		0%, rgba(211, 237, 128, 0.3) 100%);
}

.blueFond {
	-fx-background-color: rgb(200, 200, 255);
}

.grayFond {
	-fx-background-color: rgba(230, 255, 225, 0.75);
}

.lightBlueFond {
	-fx-background-color: rgb(220, 220, 241);
}

.pagination>.pagination-control>.control-box {
	-fx-spacing: 10px;
}

.pagination>.pagination-control>.control-box>.number-button, .pagination>.pagination-control>.control-box>.bullet-button,
	.pagination>.pagination-control>.control-box>.left-arrow-button,
	.pagination>.pagination-control>.control-box>.right-arrow-button {
	-fx-background-color: lightgray, #FAFAFA;
	-fx-min-width: 50;
	-fx-min-height: 30;
	-fx-font-size: 20px;
}

.pagination>.pagination-control>.control-box>.number-button:hover,
	.pagination>.pagination-control>.control-box>.bullet-button:hover,
	.pagination>.pagination-control>.control-box>.left-arrow-button:hover,
	.pagination>.pagination-control>.control-box>.right-arrow-button:hover
	{
	-fx-background-insets: 0;
	-fx-background-color: lightgray;
}

.pagination>.pagination-control>.control-box>.number-button:selected,
	.pagination>.pagination-control>.control-box>.bullet-button:selected {
	-fx-background-insets: 0;
	-fx-background-color: #58379A;
	-fx-text-fill: white;
}

.pagination {
	-fx-page-information-visible: false;
}